[Unit]
Description=Telegram price alerts bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/opt/bot-price-alerts
Environment=TELEGRAM_BOT_TOKEN=replace_me
Environment=TELEGRAM_DB_PATH=/opt/bot-price-alerts/bot.db
ExecStart=/usr/local/go/bin/go run .
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/bot-price-alerts.log
StandardError=append:/var/log/bot-price-alerts.log

[Install]
WantedBy=multi-user.target
